<p-menubar styleClass="shadow-2" [model]="elementos">
  <ng-template pTemplate="start">
    <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
  </ng-template>
  <ng-template pTemplate="end">
<!--    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">-->
<!--      <ng-template pTemplate="header">-->
<!--        <tr>-->
<!--          <th>Code</th>-->
<!--          <th>Name</th>-->
<!--          <th>Category</th>-->
<!--          <th>Quantity</th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="body" let-product>-->
<!--        <tr>-->
<!--          <td>{{ product.code }}</td>-->
<!--          <td>{{ product.name }}</td>-->
<!--          <td>{{ product.category }}</td>-->
<!--          <td>{{ product.quantity }}</td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--    </p-table>-->
  </ng-template>
</p-menubar>
